#p2-container {
	color: #555;
}

#p2-container strong {
	color: red;
}

#p2-container ul:last-of-type strong {
	text-decoration: underline;
}

#p2-container ul li:nth-child(even) {
	background-color: #ddd;
}

#p2-container p:last-child {
	color: #ff9800;
}

nav {
	display: flex;
	flex-direction: column;
}
nav a {
	display: none;
}
.show-nav a {
	display: block;
}

#p4-button-wrapper a {
	background-color: #008bff;
	color: white;
	padding: 14px;
	border-radius: 5px;
	cursor: pointer;
}

#p4-button-wrapper a.clicked {
	background-color: #eee;
	color: black;
	pointer-events: none;
	/* when btn is clicked and mouse still over btn background color stays as #008bff until mouse leaves pointer-events none fixed the issue*/
	/* instructions were not clear on  mouse over effect applying to the btn after clicked */
}
